<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand d-flex p-0" href="#">
        <img src="../../assets/img/logo-onthego.png" alt="exemplo de logo" height="70px" style="margin-bottom: -10px; margin-top: -10px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/home'>Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/produtos'>Loja</a>
            </li>
            <li class="nav-item">
                <a routerLink='/sobrenos' class="nav-link">Sobre nós</a>
            </li>
            <li>
                <a routerLink='/contato' class="nav-link">Contato</a>
            </li>
            <div *ngIf='authService.btnLogin()'>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </div>
            <div *ngIf='authService.btnLogin()'>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cadastro">Cadastro</a>
                </li>
            </div>
            <div *ngIf='authService.btnSair()'>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
            </div>
            <div *ngIf='authService.btnSair()'>
                <li class="nav-item">
                    <a (click)='sair()' class="nav-link">Sair</a>
                </li>
            </div>


        </ul>
    </div>
</nav>


<!--nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <div class="container-fluid d-flex">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/" class="navbar-brand d-flex mr-auto"><img src="../../assets/img/camisetasOnTheGo1.png" alt="exemplo de logo"
                        height="43px"></a>
                </div>
                <div class="col-md-6 justify-content-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                        <ul class="navbar-nav w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="#h1">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#h2">Loja</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#h5">Sobre nós</a>
                            </li>
                            <li>
                                <a href="#h6" class="nav-link">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav-->