<!--footer class="footer text-light bg-dark">
    <div class="container py-20 wrap d-flex justify-content-center">
        <div class="row">
            <div class="col-lg no-wrap">

                    <a href="https://facebook.com" target="_blank" class="icoFacebook">
                        <fa-icon [icon]="faFacebook" class="faFacebook p-3 fa-3x text-light"></fa-icon>
                    </a>
                    
                    <a href="https://github.com/Teethew" target="_blank" class="icoGithub">
                        <fa-icon [icon]="faGithub" class="faGithub p-3 fa-3x text-light"></fa-icon>
                    </a>
                    <a href="https://whatsapp.com" target="_blank" class="icoLinkedin">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin p-3 fa-3x text-light"></fa-icon>
                    </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg text-center">
                <p id="rodape">Todos os direitos reservados: Camisetas OnTheGo ©</p>
            </div>
        </div>
    </div>
</footer-->

<!-- Footer -->
<footer class="page-footer container-fluid font-small elegant-color bg-dark text-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5">
  
      <!-- Grid row -->
      <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>Links</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Very long link 1</a>
            </li>
            <li>
              <a href="#!">Very long link 2</a>
            </li>
            <li>
              <a href="#!">Very long link 3</a>
            </li>
            <li>
              <a href="#!">Very long link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>Links</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>Links</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5>Links</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      <!-- Grid row -->
    <div class="row mt-1 mt-md-0">

        <!-- Grid column -->
        <div class="col-md-6 mx-auto mt-4 pt-2 mt-md-0 pt-md-0 mb-4 pb-2 mb-md-5 pb-md-0">
  
          <div class="md-form md-outline my-0 d-flex justify-content-between align-items-center">
            <p>Inscreva-se na nossa newsletter e tenha os produtos mais novos na sua caixa de entrada.</p>
          </div>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto mt-4 pt-2 mt-md-0 pt-md-0 mb-5">
  
          <div class="md-form md-outline input-group my-0">
            <input type="text" id="email12" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-light my-0" type="button">Sign up</button>
            </div>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Camisetas OnTheGo
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->