<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">pro sidebar</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://img.favpng.com/11/4/14/computer-icons-user-symbol-light-png-favpng-SpjCsM9Bzipc7zF1JQG3gKjt9.jpg"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">Lucas
                        <strong>Silva</strong>
                    </span>
                    <span class="user-role">Cliente</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Geral</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Produtos</span>

                        </a>

                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>E-commerce</span>

                        </a>

                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-gem"></i>
                            <span>Components</span>
                        </a>

                    </li>

                    <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Examples</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->

        </div>

        <!-- sidebar-content  -->

    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container mt-5">
            <h2>Pro Sidebar</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
                    <p> You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template"
                            target="_blank">
                            Github</a>, it contains more themes and background image option</p>
                </div>

                <div class="form-group col-md-12">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">New !</h4>

                        <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank"
                            class="btn btn-sm btn-primary mr-2">
                            Github</a>
                        <a href="https://azouaoui-med.github.io/react-pro-sidebar" target="_blank"
                            class="btn btn-sm btn-success">
                            Demo</a>

                    </div>

                </div>
            </div>
            <h5>More templates</h5>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                </div>
            </div>
            <hr>

            <footer class="text-center">



            </footer>

        </div>

    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->