<main>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h1 class="text-center texto">Login</h1>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-6">
                <div>
                    <div class="example-container">
                        <mat-form-field class="pb-3" appearance="fill">
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="nome@exemplo.com" [(ngModel)]='userLogin.email'>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="pb-3" appearance="fill">
                            <mat-label>Senha</mat-label>
                            <input matInput [(ngModel)]='userLogin.senha' [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <br>
                        <div class="d-flex justify-content-center">
                            <button class="text-center" mat-raised-button color="primary" (click)='logar()'>
                                Entrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>