<h1 mat-dialog-title class="texto text-center">Categoria</h1>
<div class="container align-center">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <mat-dialog-content>
                <p class="texto">Atualização de categoria</p>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput [(ngModel)]="categoria.descricao" name="Descrição">
                </mat-form-field>
            </mat-dialog-content>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <mat-dialog-actions align="end">
                <button mat-button (click)="salvar()">Salvar</button>
                <button mat-button color="warn" [mat-dialog-close]>Cancelar</button>
            </mat-dialog-actions>
        </div>
    </div>
    
    
    
</div>
