<div class="container py-5 my-5">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of listaProduto">
            <div class="pb-5">
                <div class="card zoom" style="width: 18rem;">
                    <img src="{{item.linkImagem}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.instituicao}}</h5>
                        <p class="card-text">Categoria: {{item.categoria.descricao}}</p>
                        <a href="#" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.discordapp.com/attachments/749132630758522880/763412648774991902/babylonjs_4.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.imgur.com/znFvkSd.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>