

<div class="bg-dark">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4 text-light">Nossa missão</h1>
                <p class="lead fontemonte text-light mb-0">A nossa missão é retribuir a gratidão que recebemos da Generation durante esses três meses de curso, visando abranger a ajuda solidária pelo mundo seguindo como um guia de ajuda os temas pautados pela Organização Mundial. Acreditamos que através das camisetas estampadas, podemos transmitir a nossa ideia e o que queremos mostrar para o mundo. Disseminando nossas sementes de amor e carinho por cada camiseta vendida. E não apenas vendendo essa ideia, mas também abraçar a causa de braços abertos. Nós da Camisetas On The Go, estaremos comprometidos em doar grande parte dos valores arrecadados para apoiar todas as causas em nossa plataforma.

                </p>

            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="http://clipart-library.com/data_images/461791.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Quem somos</h2>
                <p class="fontemonte text-muted mb-4">Somos um grupo de estudantes com um único objetivo; Desenvolver um E-commerce que atende todas as nossas necessidades de negócio e que ao mesmo tempo possa impactar pessoas. Acreditamos que, com a experiência de cada um, foi fundamental para que esse projeto acontecesse. 
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://www.jing.fm/clipimg/full/104-1041399_thumb-human-behavior-hand-model-inclusion-educativa.png" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>

    </div>
</div>

<div class="bg-dark text-light py-5">
    <div class="container py-5">


        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-7 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQHw_W0W0SJ4dA/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=_zNHyCDlgDLpH_oqWMVDr5_da8lcqPqEUIskmWy-nF0"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Tales Andrade</h5><span class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQGIFlu09jQcSQ/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=kSQLnrXy4i6Mvaiup2heO5MDwxDPEi-PFyHYYk0ctRE"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Bruno Stelzeneder </h5><span class="small text-uppercase text-muted">Desenvolvedor
                        Jr | Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E35AQFJ-dOaGHxqmQ/profile-framedphoto-shrink_800_800/0?e=1603054800&v=beta&t=D0CKPByw-D4HtZLzGZRJQSoTxps-UGw7yJC4o67h8rA"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Thiago Crispim </h5><span class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQEshThyle-4wA/profile-displayphoto-shrink_800_800/0?e=1608768000&v=beta&t=-EzRtDtqeTfMS90ofXwOpHi8fer0JLo3EYXsYPu1Yh4"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark" >Joilton Fraga</h5><span class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQHGdS3H3HtsLg/profile-displayphoto-shrink_800_800/0?e=1607558400&v=beta&t=Paj4C-7o-HVgIHRhj-16uPlShlTSuzPs9knmDGbPVHk"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark" >Lucas Robert dos Santos</h5><span class="small text-uppercase text-muted">Desenvolvedor |
                        FullStack</span>
                    <ul class="social mb-0 list-inline mt-3" >
                        <li class="list-inline-item" class="text-dark social-link"> 
                            <p> <img id="" src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png"/></p>
                        </li>
                 

                 
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!--<div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQHGdS3H3HtsLg/profile-displayphoto-shrink_800_800/0?e=1607558400&v=beta&t=Paj4C-7o-HVgIHRhj-16uPlShlTSuzPs9knmDGbPVHk"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark" >Lucas Robert dos Santos</h5><span class="small text-uppercase text-muted">Desenvolvedor |
                        FullStack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-font-awesome"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
             End-->


        </div>
    </div>
</div>