<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i
                class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>Snowflake</strong></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    </div>
</nav>

<div class="bg-info">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Nossa missão</h1>
                <p class="lead text-muted mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
                    distinctio rem voluptatibus ea placeat sapiente praesentium totam, minus quos repellat neque cumque
                    maxime laboriosam nesciunt optio hic iusto! Molestiae, tempora.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatem, dolore dicta possimus
                    pariatur amet minus blanditiis temporibus, ad enim similique molestiae eius illo expedita. Excepturi
                    tempore doloremque quam dolores!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit nemo amet, soluta similique
                    culpa facere saepe, atque nisi iure magni dicta! Cum ratione aut maiores fugit, hic culpa ducimus.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus necessitatibus voluptatem rerum
                    perspiciatis qui hic voluptatum repudiandae doloremque, vitae nesciunt consequatur quas praesentium!
                    Sapiente quam quas autem dolores nihil obcaecati.

                </p>

            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="http://clipart-library.com/data_images/461791.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Quem somos</h2>
                <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi eveniet saepe quibusdam quisquam
                    libero pariatur doloremque ab dolorem ipsa earum! Repellendus deleniti culpa quo, veniam eveniet hic
                    voluptates soluta ipsa!
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://pngriver.com/wp-content/uploads/2018/04/Download-Team-PNG-File.png" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>

    </div>
</div>

<div class="bg-info py-5">
    <div class="container py-5">


        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-7 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQHw_W0W0SJ4dA/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=_zNHyCDlgDLpH_oqWMVDr5_da8lcqPqEUIskmWy-nF0"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Tales Andrade</h5><span class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a src="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQGIFlu09jQcSQ/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=kSQLnrXy4i6Mvaiup2heO5MDwxDPEi-PFyHYYk0ctRE"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Bruno Stelzeneder </h5><span class="small text-uppercase text-muted">Desenvolvedor
                        Jr | Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E35AQFJ-dOaGHxqmQ/profile-framedphoto-shrink_800_800/0?e=1602162000&v=beta&t=APmW6dcn_JlDh1laRCSpS2ny-LVPNxpNsCaQ3GYVq98"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Thiago Crispim</h5><span class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQEshThyle-4wA/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=OEEXflayH4uzpW7RGeAmYSj-dLfBw70f3any-MmFE5Q"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Joilton Fraga</h5><span class="small text-uppercase text-muted">Desenvolvedor |
                        FullStack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQHGdS3H3HtsLg/profile-displayphoto-shrink_800_800/0?e=1607558400&v=beta&t=Paj4C-7o-HVgIHRhj-16uPlShlTSuzPs9knmDGbPVHk"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Lucas Robert dos Santos</h5><span class="small text-uppercase text-muted">Desenvolvedor |
                        FullStack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->


        </div>
    </div>
</div>