<div class="bg-white">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4 text-dark">Nossa missão</h1>
                <p class="lead fontemonte text-dark mb-0">A nossa missão é retribuir a gratidão que recebemos da
                    Generation durante esses três meses de curso, visando abranger a ajuda solidária pelo mundo seguindo
                    como um guia de ajuda os temas pautados pela Organização Mundial. Acreditamos que através das
                    camisetas estampadas, podemos transmitir a nossa ideia e o que queremos mostrar para o mundo.
                    Disseminando nossas sementes de amor e carinho por cada camiseta vendida. E não apenas vendendo essa
                    ideia, mas também abraçar a causa de braços abertos. Nós da Camisetas On The Go, estaremos
                    comprometidos em doar grande parte dos valores arrecadados para apoiar todas as causas em nossa
                    plataforma.

                </p>

            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="http://clipart-library.com/data_images/461791.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-dark py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light text-light">Quem somos</h2>
                <p class="fontemonte text-light mb-4">Somos um grupo de estudantes com um único objetivo; Desenvolver um
                    E-commerce que atende todas as nossas necessidades de negócio e que ao mesmo tempo possa impactar
                    pessoas. Acreditamos que, com a experiência de cada um, foi fundamental para que esse projeto
                    acontecesse.
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://www.jing.fm/clipimg/full/104-1041399_thumb-human-behavior-hand-model-inclusion-educativa.png"
                    alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 fontemonte">
            <h3>Nossas camisetas englobam os seguintes temas:</h3>
        </div>
        <a href="https://brasil.un.org/pt-br/sdgs/1" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-1.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/2" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-2.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/3" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-3.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/4" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-4.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/5" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-5.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/6" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-6.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/7" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-7.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/8" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-8.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/9" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-9.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/10" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-10.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/11" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-11.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/12" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-12.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/13" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-13.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/14" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-14.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/15" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-15.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/16" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-16.svg"
                class="img" alt=""></a>
        <a href="https://brasil.un.org/pt-br/sdgs/17" target="_blank"><img
                src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-17.svg"
                class="img" alt=""></a>

    </div>
</div>
<div class="bg-dark text-light py-5">
    <div class="container py-5">


        <div class="row text-center">

            <div class="col-xl-3 col-sm-7 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQHw_W0W0SJ4dA/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=_zNHyCDlgDLpH_oqWMVDr5_da8lcqPqEUIskmWy-nF0"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Tales Andrade</h5><span
                        class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item" class="text-dark social-link" class="ul-li">
                            <a href="https://www.linkedin.com/in/tales-andrade06/" target="_blank"><img
                                    src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png" alt=""></a>
                            <a href="https://github.com/Andrade-Tales" target="_blank"> <img
                                    src="https://img.icons8.com/metro/52/000000/github.png" alt=""> </a>


                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQGIFlu09jQcSQ/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=kSQLnrXy4i6Mvaiup2heO5MDwxDPEi-PFyHYYk0ctRE"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Bruno Stelzeneder </h5><span
                        class="small text-uppercase text-muted">Desenvolvedor
                        Jr | Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item" class="text-dark social-link" class="ul-li">
                            <a href="https://www.linkedin.com/in/brunostelzeneder/" target="_blank"><img
                                    src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png" alt=""></a>
                            <a href="https://github.com/Brunostelzeneder" target="_blank"> <img
                                    src="https://img.icons8.com/metro/52/000000/github.png" alt=""> </a>


                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E35AQFJ-dOaGHxqmQ/profile-framedphoto-shrink_800_800/0?e=1603054800&v=beta&t=D0CKPByw-D4HtZLzGZRJQSoTxps-UGw7yJC4o67h8rA"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Thiago Crispim </h5><span
                        class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item" class="text-dark social-link" class="ul-li">
                            <a href="https://www.linkedin.com/in/taraujocrispim/ " target="_blank"> <img
                                    src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png" alt=""></a>
                            <a href="https://github.com/Teethew" target="_blank"> <img
                                    src="https://img.icons8.com/metro/52/000000/github.png" alt=""> </a>


                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQEshThyle-4wA/profile-displayphoto-shrink_800_800/0?e=1608768000&v=beta&t=-EzRtDtqeTfMS90ofXwOpHi8fer0JLo3EYXsYPu1Yh4"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Joilton Fraga</h5><span
                        class="small text-uppercase text-muted">Desenvolvedor Jr |
                        Full Stack</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item" class="text-dark social-link" class="ul-li">
                            <a href="https://www.linkedin.com/in/joiltonfraga/" target="_blank"><img
                                    src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png" alt=""></a>
                            <a href="https://github.com/JoiltonFraga" target="_blank"> <img
                                    src="https://img.icons8.com/metro/52/000000/github.png" alt=""> </a>


                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://media-exp1.licdn.com/dms/image/C4E03AQHGdS3H3HtsLg/profile-displayphoto-shrink_800_800/0?e=1607558400&v=beta&t=Paj4C-7o-HVgIHRhj-16uPlShlTSuzPs9knmDGbPVHk"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0 text-dark">Lucas Robert dos Santos</h5><span
                        class="small text-uppercase text-muted">Desenvolvedor |
                        FullStack</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item" class="text-dark social-link" class="ul-li">
                            <a href="https://www.linkedin.com/in/lucasroberty/" target="_blank"><img
                                    src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled.png" alt=""></a>
                            <a href="https://github.com/Lucas17072001" target="_blank"> <img
                                    src="https://img.icons8.com/metro/52/000000/github.png" alt=""> </a>


                        </li>





                    </ul>
                </div>
            </div>
        </div>