<main>
    <div class="container py-5 my-5" id="pagprodutos">
        <div class="d-flex justify-content-end">

            <mat-form-field class="example-form-field">
                <mat-label class="text-right">Pesquisar produto</mat-label>
                <input matInput type="text" [(ngModel)]="nome">
                <button mat-button matSuffix mat-icon-button (click)="pesquisar(nome)">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <br>
        </div>

        <small> <a routerLink='/home'>Home</a> / Produtos</small>
        <p class="text-right">Ordenar por: <a (click)='trocar()'>Data {{seta}}</a></p>
        <div class="row">
            <!--div class="col-md-4" *ngFor="let item of listaProduto">
                <div class="pb-5">
                    <div class="card zoom" style="width: 18rem;">
                        <img src="{{item.linkImagem}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{item.nome}}</h5>
                            <p class="card-text">Instituição: {{item.instituicao}}</p>
                            <a href="#" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
                
            </div-->
            
            <div class="col-md-4 texto" *ngFor="let item of listaProduto | orderBy : key : reverse">
                <mat-card class="example-card my-3 mx-2 zoom">
                    <a class="imagem" [routerLink]="['/produtos/item', item.id]">
                        <img mat-card-image class="" src="{{item.linkImagem}}" alt="Photo of a Shiba Inu">
                        <p id="comprar">
                            <mat-icon>shopping_cart</mat-icon>
                        </p>
                    </a>
                    <mat-card-title class="mb-1 mt-2" style="min-height: 60px;" align="center">{{item.nome}}
                    </mat-card-title>
                    <mat-card-content class="mb-1" align="center">
                        <small>R$ </small> <em> {{item.preco}}</em>
                    </mat-card-content>

                    <mat-card-actions class="pt-0" align="center">
                    </mat-card-actions>
                </mat-card>
            </div>
            <!--div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/znFvkSd.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div-->
        </div>
    </div>
</main>