body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.card h5 {
    opacity: 1 !important;
}

.card-img:hover {
    opacity: 0.5 !important;
}

.text-dark:hover {
    opacity: 1;
}

.hero {
    width: 100%;
    background: linear-gradient(to right, #0f4c81 0%, rgba(43, 103, 153, 0.59) 50%, rgba(15, 76, 129, 0.17) 100%);
}

.banner {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.banner__content h1 {
    margin-bottom: 0;
    font-size: 50px;
    color: white;
}

.banner__content p {
    margin-top: 0;
    font-size: 18px;
    color: white;
}

.banner__content a {
    position: relative;
    top: 20px;
}

.banner__content a {
    height: 40px;
    border: 2px solid;
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.75 !important;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}