<main>
    <div class="container py-5">
        <!--Foto da Matthew Henry do <a href="https://www.shopify.com.br/burst/moda?utm_campaign=photo_credit&amp;utm_content=Fotos+em+HD+de+Camisetas+%E2%80%94++Imagens+gratuitas&amp;utm_medium=referral&amp;utm_source=credit">Burst</a-->

        <div class="row py-5">
            <div class="col-md-6 align-items-center d-flex">
                <!--img src="https://i.imgur.com/DLYvhkP.jpg"   width="430px" height="230px" alt="imagem-contato"-->
            </div>
            <div class="col-md-6 pb-5 pt-4" style="background-color: white; opacity: 0.75; border-radius: 7px;">
                <h2 class="text-center display-4 pb-4">Entre em contato</h2>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Ex: Fulanx da Silva">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="nome@exemplo.com">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Assunto</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Mensagem</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <div class="d-flex justify-content-center">
                        <button class="text-center" mat-raised-button color="primary">Enviar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>