<div class="container py-5 my-3">
    <div class="row">
        <div class="col-md-6">
            <img src="{{produto.linkImagem}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6">
            <h2 class="display-4 text-center pb-2 mb-5 titulo">Camiseta {{produto.nome}}</h2>
            <mat-list>
                <h2 id="preco" class="lead text-right">
                    <p class="display-4 text-right">R$ {{produto.preco}}</p>
                </h2>
                <mat-divider></mat-divider>
                <div class="row d-flex justify-content-end my-4  align-itens-center">
                    <div class="col-md-6">
                        <p style="vertical-align: middle;">Tamanho: </p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <mat-button-toggle-group #group="matButtonToggleGroup" >
                            <mat-button-toggle value="P" aria-label="Text align left">
                                &nbsp;P&nbsp;
                            </mat-button-toggle>
                            <mat-button-toggle value="M" aria-label="Text align center">
                                &nbsp;M&nbsp;
                            </mat-button-toggle>
                            <mat-button-toggle value="G" aria-label="Text align right">
                                &nbsp;G&nbsp;
                            </mat-button-toggle>
                            <mat-button-toggle value="GG" aria-label="Text align justify">
                                GG
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="row d-flex justify-content-end my-4 align-itens-center">
                    <div class="col-md-6">
                        <p style="vertical-align: middle;">Quantidade: </p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button mat-button>+</button>
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]='quantidade'>
                        </mat-form-field>
                        <button mat-button>–</button>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row pt-5">
                    <div class="col-md-6 d-flex justify-content-center">
                        <button id="comprar">COMPRAR</button>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button id="carrinho">ADICIONAR AO CARRINHO</button>
                    </div>
                </div>
            </mat-list>

        </div>
    </div>
</div>